* {
  box-sizing: border-box; }

html,
body {
  background-color: black;
  margin: 0;
  padding: 0; }

input .valid {
  background-color: green !important;
  color: #fff !important;
  border: 0 !important; }
input .invalid {
  background-color: red !important;
  color: #fff !important;
  border: 0 !important; }

.home,
.repo-page {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.repo-page {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  background-color: #454ade; }

.home {
  background: #1b1f3b; }
  .home > .input-container {
    height: 50px;
    min-height: 100px;
    text-align: center;
    line-height: 50px;
    top: calc(50% - 50px);
    position: absolute;
    width: 100%; }
  .home button.submit {
    margin-left: 20px; }

input,
select,
button {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: #fff;
  background: #b14aed;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  text-align: center; }
  input:hover, input:focus,
  select:hover,
  select:focus,
  button:hover,
  button:focus {
    outline-width: 0;
    opacity: 0.75;
    color: white; }

button {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  min-width: initial;
  cursor: pointer; }

select {
  -webkit-appearance: none;
  padding-left: 20px; }

.container {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

#video-pane,
#sidebar,
#contributors {
  margin-top: 20px;
  background: #b14aed;
  height: auto;
  display: inline-block; }

#contributors {
  text-align: center; }

#video-pane,
#contributors {
  width: 70%; }

#video-pane {
  height: 80%; }

#sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%;
  height: calc(100% - 40px);
  float: right;
  margin-bottom: 20px; }

.scale-5-5 {
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5); }

.slide-down {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

span.contributor {
  display: inline-block;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  max-width: 50%; }

span.contributor:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

span.contributor:last-child {
  margin-right: 0; }

span.contributor img {
  border-radius: 90px;
  max-width: 90px;
  min-width: 20px;
  width: auto;
  padding: 10px; }

.commit {
  margin-top: 10px; }

.commit > span {
  display: block;
  width: 100%;
  text-align: center;
  margin-right: 10px; }

.author img {
  max-width: 50px;
  border-radius: 50px; }

line.link {
  stroke: #ececec; }

@media only screen and (max-width: 900px) {
  #video-pane,
  #sidebar {
    width: 100%; }

  #video-pane {
    height: 80%; }

  #sidebar {
    min-height: 200px;
    width: 45%; }

  #contributors {
    width: 45%; } }
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 8px;
  color: #ffffff;
  background: #2e2e2e;
  border: 0px;
  border-radius: 8px 8px 8px 0px;
  pointer-events: none; }

/*# sourceMappingURL=codevisor.css.map */
