// https://coolors.co/app/454ade-1b1f3b-b14aed-c874d9-e1bbc9
$blue: #454ade; //rgba(69, 74, 222, 100)
$black: #1b1f3b; //rgba(27, 31, 59, 100)
$magenta: #b14aed; //rgba(177, 74, 237, 100)
$pink: #c874d9; //rgba(200, 116, 217, 100)